<div class="pitch-view-container">
  <div class="pitch-view-layout">
    <div class="pitch-view-layout--field">
      <%= render 'account/squads/field' %>
    </div>
    <div class="pitch-view-layout--datas">
      <%= render 'account/squads/data' %>
    </div>
  </div>
</div>
