<%= content_for :body_class, "body-picth-active" %>
<div class="pitch-view-container">
  <div class="pitch-view-layout">
    <div class="pitch-view-layout--field">
      <h3 class="text-center">Ma Compo</h3>
      <%= render 'account/squads/pitch-squad' %>
    </div>
    <div class="pitch-view-layout--datas">
      <%= render 'account/squads/bench' %>
    </div>
  </div>
</div>
