/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 .banner{
  background-size: cover;
  height:100vh;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #F4F4F8;
}

.banner h1{
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(#000, 0.8);
}

.banner p{
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 50px;
  margin-top:25px;
  text-shadow: 1px 1px 5px rgba(#000, 0.8);
}

#search_bar {
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  border-radius: 5pt;
  color: #666666;
}

.home-search {
  padding: 10px;
  border-radius: 5pt;
  border: none;
  color: #666666;
}

.flaticon p{
  padding-bottom: 66px;
}

.home-title-animation {

  h1 {
    text-transform: uppercase;
    text-align: center;
    animation: in 10s ease-in-out forwards infinite;
    animation-delay: 1s;
    letter-spacing: 20px;
  }

  @keyframes in {
    0% {
      letter-spacing: 20px;
    }
    50% {
      letter-spacing: 5px;
    }
    100% {
      letter-spacing: 20px;
    }
  }

}
