<h4><%= @league.name %></h4>

<table>
  <tr>
    <td>
      Position
    </td>
    <td>
      Name
    </td>
    <td>
      Total Points
    </td>
  </tr>
  <% @league.users.each_with_index do |user, i| %>
   <tr>
    <td>
      <%= i + 1 %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <td>
      <%= user.squad.total_points %>
    </td>
  </tr>
  <% end %>
</table>