<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href="#"></a><i class="fa fa-youtube"></i></li>
          <li><a href="#"></a><i class="fa fa-instagram"></i></li>
          <li><a href="#"></a><i class="fa fa-facebook"></i></li>
          <li><a href="#"></a><i class="fa fa-twitter"></i></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>Deviens Manager</p>
      </div>
    </div>
  </div>
</div>