<div class="banner" style="background-image:url('<%= image_path @background %>')">

  <div class="banner-content text-center">
    <h1>Fantasy Belgian ProLeague</h1>
    <p>Crée ton équipe et remporte le titre</p>
    <%#= form_tag("/places", method: "get") do %>
    <div class="content-form form-group" id="search_bar">
        <%#= text_field_tag :city, nil, class:"home-search", placeholder: 'City' %>

        <%#= date_field_tag :event_date, nil, class: "home-search" %>

        <%=link_to 'Commencer à jouer', new_squad_path, class:"search-btn navbar-wagon-item navbar-wagon-button btn" %>
        <%#= submit_tag("submit", class:"search-btn navbar-wagon-item navbar-wagon-button btn") %>
    </div>
    <%# end %>
    <!--     <a href="http://lmgtfy.com/?q=google" target="_blank" class=" btn btn-primary btn-lg">Get started</a> -->
  </div>
</div>