// Your footer style
.footer {
  background: #331832;
  color: #CCCCCC;
  height: 100px;
}

.footer ul {
  margin-top: 30px;
}

.footer li {
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
  a {
    color: #CCCCCC;
    &:hover{
      color: $green;
    }
  }
}


.footer p {
  margin-top: 40px;
}
