// Your footer style
.footer {
  background: #331832;
  color: #CCCCCC;
  height: 100px;
}

.footer ul{
  margin-top: 30px;
}

.footer li{
  color: #CCCCCC;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}

.footer li:hover{
  color: #009834;
}

.footer p{
  margin-top: 40px;
}
