$pitch-column-width: 400px;

.body-picth-active {
  overflow: hidden;
}

.pitch-view-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.pitch-view-layout {
  display: flex;
  flex: 1;

  &--field {
    overflow: scroll;
    flex: 1;
    height: 100vh;
    padding-bottom: 150px;
  }
  &--datas {
    flex: 0 0 $pitch-column-width;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    background-color: white;
    padding-bottom: 150px;

    border-left: 1px solid #e4ecec;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    z-index: 100;
  }
}

.pitch-view--call-to-action {
  position: fixed;
  width: calc(100% - 400px);
  border-top: 1px solid #e4ecec;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  bottom: 0;
  text-align: center;
}
