.btn-medium {
  color: white;
  border: 1px solid #009834;
  background-color: #009834;
  // padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
}
.btn-medium:hover {
  background-color: #00C858;
  text-decoration: none;
  color: white;
}

.btn {
  color: #090909;
  border-radius: 15px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: bold !important;
  border-radius: 15px;
  &:hover {
    color: #090909;
  }
}

.btn-data {
  padding: 0 20px;
  border-radius: 15px;
  background-color: $green;
  font-size: 14px;
  border: 2px solid $green;
}
.btn-data:hover {
  background: #61FF7E;
  border-color: #61FF7E;
}
