.btn-medium {
  color: white;
  border: 1px solid #009834;
  background-color: #009834;
  // padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
}
.btn-medium:hover {
  background-color: #00C858;
  text-decoration: none;
  color: white;
}