.card-grid {
  margin-bottom: 20px;
}

.card {
  background-color: white;
  position: relative;
  height: 170px;
  width: 130px;
  color: black;
  border-radius: 5px;
  transition: all 300ms ease;
  opacity: 0.9;
  transform: scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(1,1,1, 0.5);
  padding: 10px;
  &:hover {
    opacity: 1;
    transform: scale(1.25) rotate(0.5deg);
    box-shadow: 0px 0px 5px rgba(1,1,1, 0.6);
    .btn {
      opacity: 1;
    }
  }
  .btn {
    width: 100%;
    z-index: 100;
    margin-top: 75px;
    opacity: 0;
  }
  p {
    font-size: 14px;
    margin: 0;
  }
  em {
    font-size: 14px;
  }
}

.card-avatar-team {
  max-width: 60px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -30px;
}

.background_default {
  background-image: "background_show.jpeg";
}
