.pitch-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 60px;
}

.flex {
  display: flex;
  justify-content: center;
}
