td th{
  display: table-cell;
  vertical-align: inherit;
}


.cell {
  line-height: 1.5;
}

.head {
  background: #e4ecec;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px #f4f6f8;
  padding: 2px;
}

.body {
  border-right: 1px solid #efefef;
  border-left: 1px solid white;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid white;
  }

.im-centered { 
  margin: auto; 
  max-width: 300px;
}
