td th{
  display: table-cell;
  vertical-align: inherit;
}

.head {
  background: #D30240;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px RGBA(0,0,0, 1.00);
  padding: 2px;
}
