// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "gameweeks/index";

.wrapper {
  padding: 50px 100px;
}

.wrapper-grey {
  background: #F4F4F4;
}
.padded-large {
  padding: 100px 0;
}

.padded {
  padding: 30px 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
}

